cleanup = false

dag.overwrite = true

process {

    container = 'file://env/kinase_pssms.sif'

}

singularity {

    enabled = true
    autoMounts = true

}

env {

    out_dir = "${projectDir}/output"
    psp_kinase_substrate_gz = "${projectDir}/misc/data/Kinase_Substrate_Dataset.gz"
    psp_phosphosites_dataset_gz = "${projectDir}/misc/data/Phosphorylation_site_dataset.gz"

}

params {

    url_ser_thr_kinome_2023_suppl_table_2 = 'https://static-content.springer.com/esm/art%3A10.1038%2Fs41586-022-05575-3/MediaObjects/41586_2022_5575_MOESM4_ESM.xlsx'
    url_tyr_kinome_2024_suppl_table_2 = 'https://static-content.springer.com/esm/art%3A10.1038%2Fs41586-024-07407-y/MediaObjects/41586_2024_7407_MOESM4_ESM.xlsx'
    url_string_id_map_human = 'https://stringdb-downloads.org/download/protein.aliases.v12.0/9606.protein.aliases.v12.0.txt.gz'
    n_cores = 4

}